<div class="starter-template">
  <h1>Join and ask for recommendations</h1>
  <p class="lead">Our community helps you find anything you need anywhere, sign up now!</div>

  <div class="col-md-8 col-md-offset-4">
    <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
    <a class="btn btn-primary btn-lg"href="/login">Login</a>
  </div>
